<div class="booyah-box col-10 offset-1">
  <h1>Edit Your Car Review</h1>
  <%= simple_form_for @car do |f| %>
    <%= f.input :name %>
    <%= f.input :cdescription %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>